<div class="card-container">
    <div class="card">
        <div class="front">
            <img class="img-responsive centerfy" ng-src="{{card.image}}" err-src="http://wow.zamimg.com/images/hearthstone/cardbacks/original/Card_Back_IceCrown.png"/>
        </div>
        <div class="back">
            <div class="header"></div>
            <div class="content">
                <div class="main">
                    <h4 class="text-center"><b class="text-muted">{{card.name}}</b></h4>
                    <rarity value="{{card.rarity}}"></rarity>
                    <h5 class="text-center"><b translate="CLASS"></b> : {{card.playerClass}}</h5>
                    <h5 class="text-center"><b translate="CITATION"></b> : <i><span ng-bind-html="card.flavor | trusted"></span></i></h5>
                    <h5 class="text-center"><b translate="EXPANSION"></b> : {{card.expansionPack}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>