.switch-toggle a {
    display: none;
}

@media only screen {

    .switch-toggle {
        min-height: 1.875em;
        position: relative;
        display: table;
        table-layout: fixed;
        padding: 0 !important;
    }

    .switch-toggle * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .switch-toggle a {
        display: block;
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }

    .switch-toggle label, .switch-toggle > span {
        line-height: 1.875em;
        vertical-align: middle;
    }

    .switch-toggle input:focus ~ a, .switch-toggle input:focus + label {
        outline: 0 none;
    }

    .switch-toggle * {
        font-size: 0.8em;
    }

    .switch-toggle input {
        position: absolute;
        opacity: 0;
    }

    .switch-toggle input + label {
        cursor: pointer;
        position: relative;
        z-index: 2;
        display: table-cell;
        width: 50%;
        padding: 0 0.5em;
        margin: 0;
        text-align: center;
    }

    .switch-toggle a {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        z-index: 1;
        width: 5%;
        height: 100%;
    }

    .switch-toggle.switch-9 label, .switch-toggle.switch-9 a {
        width: 11.5%;
    }

    .switch-toggle.switch-9 input:checked:nth-of-type(1) ~ a {
        left: 0;
    }

    .switch-toggle.switch-9 input:checked:nth-of-type(2) ~ a {
        left: 11.1%;
    }

    .switch-toggle.switch-9 input:checked:nth-of-type(3) ~ a {
        left: 22%;
    }

    .switch-toggle.switch-9 input:checked:nth-of-type(4) ~ a {
        left: 33%;
    }

    .switch-toggle.switch-9 input:checked:nth-of-type(5) ~ a {
        left: 44%;
    }

    .switch-toggle.switch-9 input:checked:nth-of-type(6) ~ a {
        left: 55.2%;
    }

    .switch-toggle.switch-9 input:checked:nth-of-type(7) ~ a {
        left: 66.5%;
    }

    .switch-toggle.switch-9 input:checked:nth-of-type(8) ~ a {
        left: 77.8%;
    }

    .switch-toggle.switch-9 input:checked:last-of-type ~ a {
        left: 88.5%;
    }
}

@media only screen and (max-width: 360px) {
    .switch-toggle.switch-9 label, .switch-toggle.switch-9 a {
        width: 10.5%;
    }

    .switch-toggle.switch-9 input:checked:nth-of-type(1) ~ a {
        left: 0;
    }

    .switch-toggle.switch-9 input:checked:nth-of-type(2) ~ a {
        left: 11.1%;
    }

    .switch-toggle.switch-9 input:checked:nth-of-type(3) ~ a {
        left: 20.5%;
    }

    .switch-toggle.switch-9 input:checked:nth-of-type(4) ~ a {
        left: 31.5%;
    }

    .switch-toggle.switch-9 input:checked:nth-of-type(5) ~ a {
        left: 42.25%;
    }

    .switch-toggle.switch-9 input:checked:nth-of-type(6) ~ a {
        left: 52.5%;
    }

    .switch-toggle.switch-9 input:checked:nth-of-type(7) ~ a {
        left: 64%;
    }

    .switch-toggle.switch-9 input:checked:nth-of-type(8) ~ a {
        left: 74.8%;
    }

    .switch-toggle.switch-9 input:checked:last-of-type ~ a {
        left: 86.5%;
    }
}

.switch-hearthstone {
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    box-shadow: 0;
}

.switch-hearthstone label {
    color: #fff;
    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
}

.switch-hearthstone input:checked + label {
    color: #fff;
    text-shadow: 0;
}

.switch-hearthstone a {
    background: url("../img/mana.png") no-repeat center center;
}

/*
* Bugfix for older Webkit, including mobile Webkit. Adapted from
* http://css-tricks.com/webkit-sibling-bug/
*/
@media only screen and (-webkit-max-device-pixel-ratio: 2) and (max-device-width: 80em) {
    .switch-light, .switch-toggle {
        -webkit-animation: webkitSiblingBugfix infinite 1s;
    }
}

@-webkit-keyframes webkitSiblingBugfix {
    from {
        -webkit-transform: translate3d(0, 0, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
    }
}
