<!DOCTYPE html>
<html lang="en" ng-app="hssc">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>HeathStone Cards Search API</title>

    <!-- Bootstrap core CSS -->
    <link href="css/hssc-bootstrap.css" rel="stylesheet">
    <link href='css/rotating-card.css' rel='stylesheet'/>
    <link href='css/autocomplete.css' rel='stylesheet'/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="container" ng-controller="SearchCtrl">

    <div class="jumbotron centerfy">
        <img class="img-responsive" src="img/Hearthstone_Logo.png"/>

        <p>Search API</p>

        <form ng-submit="submit()">
            <div class="form-group">
                <autocomplete ng-model="query" data="suggestions" on-type="tapedQuery" attr-placeholder=""></autocomplete>
            </div>
        </form>
    </div>

    <div class="row">

        <div class="col-md-4" ng-repeat="card in cards | orderBy:'cost' | filter:playable=true">
            <card></card>
        </div>

    </div>

    <footer class="footer centerfy">
        <p>&copy; GeminiCode 2015 - <a href="#">Ce site est non-officiel - Toutes les images et textes sont la propriété
            exclusive de Blizzard Inc.</a></p>
    </footer>

</div>

<script src="js/analytics.js"></script>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/autocomplete.js"></script>
<script src="js/lib/underscore-min.js"></script>
<script src="js/app.js"></script>
<script src="js/filters/htmlFilter.js"></script>
<script src="js/controllers/searchController.js"></script>
<script src="js/directives/errorImageDirective.js"></script>
<script src="js/directives/cardDirective.js"></script>

</body>
</html>
